*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #161512
    linear-gradient(to bottom, hsl(37, 12%, 16%), hsl(37, 10%, 8%) 116px)
    no-repeat;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: calc(64px * 8);
  height: calc(64px * 8);
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  width: 64px;
}

.white {
  background-color: #f0d9b5;
}

.black {
  background-color: #b58863;
}
