*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0;
}

body {
  background: #161512
    linear-gradient(to bottom, hsl(37, 12%, 16%), hsl(37, 10%, 8%) 116px)
    no-repeat;
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: calc(64px * 8);
  height: calc(64px * 8);
}

.cell {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  width: 64px;
}

.white {
  background-color: #f0d9b5;
}

.black {
  background-color: #b58863;
}

.center {
  text-align: center;
}

.nav {
  position: static;
  top: 0;
  right: 0;
  z-index: 100;

  display: flex;
  justify-content: flex-end;
  height: 42px;
  width: 100%;
  padding: 10px 0;

  background-color: gray;
}

.nav__item {
  margin-right: 15px;

  font-weight: 700;
  color: whitesmoke;
  text-decoration: none;

  transition: font 0.2s ease-in-out;
}

.nav__item:hover {
  color: white;
}

.nav__item::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;

  display: block;
  height: 2px;
  width: 0;

  background-color: white;

  transition: width 0.2s ease-in-out;
}

.nav__item:hover.nav__item::after {
  width: 100%;
}

.select {
  background-color: rgba(52, 155, 67, 0.5);
}

.available {
  display: block;
  width: 12px;
  height: 12px;

  background-color: rgb(43, 114, 54);
  border-radius: 50%;
}

.available__beat {
  background-color: rgb(43, 114, 54);
}
