*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.board {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: calc(64px * 8);
  height: calc(64px * 8);
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
}

.white {
  background-color: #f0d9b5;
}

.black {
  background-color: #b58863;
}
